<div id="wrap">
<%= content_for(:title, "Welcome Page") %>
<h1>Welcome</h1>
<p>Please log in, if you don't have an account <%= link_to "Sign up!", signup_path %></p>
<%= form_tag sessions_path do %>
    <br/>
  <p>
    <!--<%= label_tag :login, "Username or Email Address" %>-->


    <div class="input-control text">
      <%= text_field_tag :login, params[:login], {placeholder: 'Username or Email'} %>
      <button class="btn-clear"></button>
    </div>

  </p>

    <p>

      <!--<%= label_tag :password %>-->
    <div class="input-control password">
    <%= password_field_tag :password, nil, {placeholder: 'Enter your password'} %>
     <button class="btn-reveal"></button>
    </div>



     </p>
  <p><%= submit_tag "Log in" %></p>
<% end %>
</div>
