/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self

 */

html {
    background: #2D89EF;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

#container {

    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 40px;
    border: solid 1px #666666;
    margin-top: 20px;

}
#wrap{
    width: 760px;
    margin: 70px auto;
}

#auth { float: right; }

.product { width: 150px; height: 300px; float: left; margin-right: 20px; margin-bottom: 20px }
.product img { width: 150px; }
.product h2 { font-size: 0.8em; }

#product-image { width: 150px; float: left; margin-right: 20px;  }
#product-description { margin-left: 170px;  }

#flash_notice, #flash_error, #flash_alert {
    padding: 5px 8px;
    margin: 0 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_error, #flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
}

.fieldWithErrors {
    display: inline;
}

.error_messages {
    width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    font-size: 12px;
}

.error_messages h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
}

.error_messages p {
    margin: 8px 10px;
}

.error_messages ul {
    margin: 0;
}

.name2 {
    font-size: 26px;
    vertical-align: -webkit-baseline-middle;
}

